
.app {
  display: flex;
  min-height: 100vh;
}


.sidebar {
  width: 220px;
  background: #2c3e50;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #34495e;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}


.content {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f4f6f9;
}


.main-content {
  flex: 3;
}


h1 {
  margin-bottom: 20px;
}


.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


.total { background: #3498db; }
.blocked { background: #e74c3c; }
.allowed { background: #2ecc71; }
.attacks { background: #f39c12; }


.table-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;
}

th {
  background: #2c3e50;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:hover {
  background: #f1f1f1;
}


.danger {
  color: #ff4c4c;
  font-weight: bold;
}

.warning {
  color: #ffa500;
  font-weight: bold;
}


.dark .content {
  background: #121212;
  color: #e0e0e0;
}

.dark .sidebar {
  background: #0f172a;
}

.dark .card {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}

.dark .table-container {
  background: #2c2c2c;
}

.dark table {
  color: #ddd;
}

.dark th {
  background: #1f2937;
}

.dark td {
  border-bottom: 1px solid #555;
}

.dark tr:hover {
  background: #333;
}


@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
  }
}